<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Title</title>
    <link href="css/video.css" type="text/css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <link rel="stylesheet" href="css/markDown.css">
</head>
<%include loginedHeaderBlack.ejs%>
<body>
<div class="window">
    <!--<div class="video">
        <video src="../public/video/movie.mp4" autoplay controls></video>
    </div>-->
    <div class="frame_box">
        <%- cateMovieAll[0].content%>
    </div>
    <div class="comment">
        <div class="comment_title">评论</div>
        <div class="comment_text">
            <form method="post" action="form" id="myform">
            <div class="head_and_input">
                <img src="images/默认头像.png">
                <input class="comment_input" placeholder="扯淡、吐槽、表扬、鼓励...想说啥就说啥">
                <input name="uid" value="<%= uid %>" style="display: none">
                <input name="cid" value="<%= cid %>" style="display: none">
                <input name="tid" value="<%= tid %>" style="display: none">
            </div>
            <button class="comment_btn">发表评论</button></form>
        </div>
    </div>
    <div class="list_box">
        <% queryCommentUser.forEach(function (usercomment) {%>
        <div class="comment1">
            <div class="head_portrait">
                <img src="<%= usercomment.photo%>">
            </div>
            <div class="comment_right">
                <h4><%= usercomment.username%></h4>
                <p><%= usercomment.content%></p>
                <div>
                    <span class="time">时间：<span><%= usercomment.creatTime.toLocaleString()%></span></span>
                    <!--<span class="source">源自：<span>6-1课程总结</span></span>-->
                    <div class="zan">
                        <span>举报</span>
                        <div class="fabulous">
                            <span class="commentid" style="display: none"><%= cid%></span>
                            <div>
                                <img src="images/赞.png">
                            </div>
                            <span><%= usercomment.zan%></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%})%>

    </div>
</div>
<%include footer.ejs%>
</body>
<script src="js/catalog.js"></script>
</html>