<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href=""><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">Marcel Newman</h5>

            <li class="mt">
                <a class="<%if(pageMenu == 'index'){%> <%='active'%> <%}%>" href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>主页</span>
                </a>
            </li>

            <li class="sub-menu">
                <a class="<%if(pageMenu == 'cate'){%> <%='active'%> <%}%>" href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>栏目管理</span>
                </a>
                <ul class="sub">
                    <li class="<%if(page == 'cateList'){%> <%='active'%> <%}%>"><a href="cateList">栏目列表</a></li>
                    <li class="<%if(page == 'cateAdd'){%> <%='active'%> <%}%>"><a href="cateAdd">栏目添加</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a class="<%if(pageMenu == 'course'){%> <%='active'%> <%}%>" href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>课程管理</span>
                </a>
                <ul class="sub">
                    <li class="<%if(page == 'courseList'){%> <%='active'%> <%}%>"><a href="courseList">课程列表</a></li>
                    <li class="<%if(page == 'courseDetail'){%> <%='active'%> <%}%>"><a href="courseDetail">课程章节</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a class="<%if(pageMenu == 'userInfo'){%> <%='active'%> <%}%>" href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li class="<%if(page == 'userList'){%> <%='active'%> <%}%>"><a href="userList">用户列表</a></li>
                    <li class="<%if(page == 'userApply'){%> <%='active'%> <%}%>"><a href="userApply">用户申请</a></li>
                </ul>
            </li>



        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>